// Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  max-width: 1000px;
  height: 900px;
  background: RGBA(227, 213, 204, 1);
  font-family: 'Pirata One', cursive, sans-serif;
  color: #333;
  repeat: none;
  opacity: 1;
  //background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTLf4huFUh3g_C14SXngQrM9Ux1-8UPaB7QX4_a-qs_sOmiKrSyGg');
  background-image: url('http://78.129.201.23/pirate_flag.jpg');

}

.container {
  width: 1000px;
  height: 500px;
  margin-left: 150px;
}
.greetings {
  background: RGBA(187, 185, 181, 1);
  text-align: center;
  color: RGBA(235, 73, 46, 1);
  font-size: 50px;
  border-radius: 2px;
}
ul
{
  list-style-type: none;
}
.good {
  float: left;
  font-size: 40px;
  color: RGBA(235, 73, 46, 1);
}
.bad {
  float: right;
  font-size: 40px;
  color: RGBA(235, 73, 46, 1);
}
.lionbut {
  margin-right: 50px;
  font-size: 45px;
  float: right;
  background-color: RGBA(187, 185, 181, 1);
  border-radius: 2px;
}
.ellibut {
  margin-left: 50px;
  font-size: 45px;
  float: left;
  background-color: RGBA(187, 185, 181, 1);
  border-radius: 2px;
}
button {
  background-color: RGBA(187, 185, 181, 1);
  border-radius: 2px;
  border: none;
  margin: 20px;
}
